<!DOCTYPE html>
<html lang="no">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sondres CV</title>

    <!-- CSS -->
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <!-- grønne dekorasjoner -->
    <div class="decorations">
        <!-- top høyre -->
        <div class="dec1"></div>
        <div class="dec2"></div>

        <!-- bunn venstre -->
        <div class="dec3"></div>
        <div class="dec4"></div>
    </div>

    <!-- NAVBAR -->
    <nav>
        <h1 class="navn">Sondre Rooth</h1>

        <ul class="navLinks">
            <li class="om-meg">Om Meg</li>
            <li class="utdanning">Utdanning</li>
            <li class="arbeidserfaring">Arbeidserfaring</li>
            <li class="mer"><button class="merDropdownToggle">Mer</button></li>
        </ul>
    </nav>
    <br>
    <br>
    <br>
    <br>