/* VARIABLER ----------------------------------------------------------- */
:root {
    --bakgrunn: #fcf5e5
}

/* FONTS ---------------------------------------------------------------------------------- */
@font-face {
    font-family: 'koho-bold';
    src: url('/fonts/KoHo-Bold.ttf');
}

@font-face {
    font-family: 'koho-semibold';
    src: url('/fonts/KoHo-SemiBold.ttf');
}

/* DEKORASJONER --------------------------------------------------------------- */

/* dekorasjoner top høyre */
.dec1 {
    position: fixed;
    width: 400px;
    height: 170px;
    right: -100px;
    top: -45px;

    z-index: 11;
    background: #10AC1F;
    transform: rotate(6.2deg);
}
.dec2 {
    position: fixed;
    width: 340px;
    height: 140px;
    right: -100px;
    top: 75px;
    
    z-index: 10;
    background: #008F0E;
    transform: rotate(21.6deg);
}

/* dekorasjoner bunn venstre */
.dec3 {
    position: fixed;
    width: 200px;
    height: 200px;
    left: 100px;
    bottom: -50px;
    
    z-index: 11;
    background: #008F0E;
    transform: rotate(21.6deg);
}
.dec4 {
    position: fixed;
    width: 175px;
    height: 280px;
    left: -15px;
    bottom: -10px;
    
    z-index: 10;
    background: #10AC1F;
    transform: rotate(6.2deg);
}

/* NAVBAR ----------------------------------------------------------- */
.navn {
    display: inline-block;
}

/* lenker */
.navLinks li, .navLinks {
    display: inline-block;
    margin-left: 10px;
}

nav {
    background: var(--bakgrunn);
    border-bottom: 3px solid black;

    width: 75%;
    position: fixed;
    top: 0px;
    left: 9px;
}

h1 {
    font-family: 'koho-bold', fallback, sans-serif;
    font-weight: 700;
    font-size: 26px;
}

nav ul li {
    font-family: 'koho-semibold', fallback, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

/* BODY ---------------------------------------------------- */

body {
    background: var(--bakgrunn);
}